
$bigFont: 18px;
$midFont: 14px;
$normalFont: 12px;

$black: #333;
$white: #fff;
$mainRed: #ec0000;
$bgcolor: #f7f7f7;
$linecolor: #e5e5e5;
$eee: #eee;
$six: #666;
$nine: #999;
$orange: #f60;
$panelHead: #f5f5f5;
$borderColor: #ddd;
$numberColor: #262626;
$panelColor: #f7f8fa;
$panelHeader: #3497da;
$inputColor: #bfb0ad;

